* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

/* Main color : #228be6 */
/* Gray color : #343a40 */

.bg-grey {
  background: #f7f7f7;
}

section > .container {
  width: 1170px;
  margin: auto;
  display: block;
}

#nav-bar {
  text-align: center;
}

body {
  font-family: "open_sans", sans-serif;
  color: #343a40;
}

/* Banner */
#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/banner.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 50vh;
  position: relative;
  color: #e7f5ff;
}

#banner h1 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 50%);
  font-size: 36px;
  line-height: 1.01;
  font-weight: 500;
  letter-spacing: -0.5px;
}

#banner p {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, 50%);
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.1px;
  font-weight: 100;
}

/* Navbar */

.nav-bar-anchor {
  padding: 20px;
  border-left: 1px solid #dee2e6;
}

.nav-bar-img,
.nav-bar-anchor {
  display: inline-block;
}

.nav-bar-anchor:nth-child(2) {
  margin-right: 200px;
  border-right: 1px solid #dee2e6;
}

.nav-bar-anchor:last-child {
  border-right: 1px solid #dee2e6;
}

.nav-bar-img img {
  height: 150px;
  width: 150px;
  position: absolute;
  border: 10px solid #e7f5ff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:link,
a:visited {
  text-decoration: none;
  color: #343a40;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1px;
}

a:hover {
  color: #228be6;
  cursor: pointer;
}

.icon {
  color: #228be6;
}

/* Mục tiêu nghề nghiệp và thông tin cá nhân */

#target,
#personal-info {
  padding: 80px 60px 60px 60px;
}

.section-title {
  font-size: 28px;
  line-height: 1.01;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
}
/* Mục tiêu nghề nghiệp */

#target p {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #495057;
}

/* Thông tin cá nhân */
#personal-info {
  background-color: #f1f3f5;
}

.info {
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #495057;
}

/* Thông tin nghề nghiệp (Tổng quan 6 elements)*/

/* Border chung */
.experience-container,
.education-container,
.activity-container,
.hobby-container,
.language-container,
.skill-container {
  border: 1px solid #dee2e6;
}

/* Icon và Header */
.info-icon::before {
  font-size: 24px;
}

.experience-container h2,
.education-container h2,
.activity-container h2,
.hobby-container h2,
.language-container h2,
.skill-container h2 {
  align-self: center;
  letter-spacing: -0.5px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

/* Style cho dữ liệu của 
Kinh nghiệm, Học vấn, Hoạt động*/

.time {
  display: inline-block;
  padding: 2px 2px;
  font-size: 14px;
  font-style: italic;
  color: #868e96;
}

.now {
  background-color: #228be6;
  border-radius: 4px;
  padding: 2px 12px;
  color: #e7f5ff;
}

.company,
.school,
.event {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.data-ul {
  list-style: "- ";
  line-height: 1.7;
  font-size: 16px;
  color: #868e96;
  letter-spacing: -0.5px;
  padding-left: 10px;
}

/* Style cho 
dữ liệu của Sở thích */

.hobby-icon {
  height: 32px;
  width: 32px;
  text-align: center;
  font-size: 16px;
  border: 2px solid #228be6;
  border-radius: 50%;
  padding-top: 5px;
}

.hobby p {
  font-size: 14px;
  color: #868e96;
  letter-spacing: -0.5px;
}

/* Style cho Ngôn ngữ , Kỹ năng*/

.language-level,
.skill-level {
  font-size: 16px;
  font-weight: 700;
}

.level {
  display: inline-block;
  width: 40px;
  height: 6px;
  border: 2px solid #dee2e6;
  border-radius: 9px;
  background-color: #dee2e6;
}

.checked {
  background-color: #228be6;
  border-color: #228be6;
}

/* Chứng chỉ */

.certificate-text h3 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
}

.certificate-container .d-flex:nth-child(2) img {
  border-left: 1px solid #d6c08d;
}

.certificate-container {
  border-bottom: 1px solid #d6c08d;
  padding: 30px 10px;
}

.certificate-container:last-child {
  border-bottom: none;
}
/* Dự án */

.project-name {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.7px;
}

.project > *:nth-child(2),
.project > *:nth-child(3) {
  border: 1px solid #dee2e6;
}

table tr {
  border: 1px solid #dee2e6;
}

.project-detail > *:nth-child(2) {
  margin-left: 30px;
}

.project-detail,
table {
  font-size: 16px;
  color: #868e96;
}

tr {
  vertical-align: text-top;
}

td {
  padding: 10px 8px;
}

table:last-child tr:last-child td {
  border-bottom: none;
}

.head {
  width: 100px;
}

.detail-time {
  padding: 4px 12px;
  color: #f7f7f7;
  background-color: #228be6;
  border-radius: 14px;
  font-size: 12px;
}

/* Footer */
.footer-ul {
  list-style: none;
  text-align: center;
}

.footer-ul li {
  display: inline-block;
  font-size: 18px;
  color: #adb5bd;
  margin-left: 10px;
}

.footer-ul li:first-child {
  margin-left: 0;
}

.footer-icon {
  color: #228be6;
  font-size: 24px;
}

.social-text {
  color: #228be6;
}
