.container {
  width: auto;
  margin: 0 auto;
}

.body {
  font-family: "open_sans", sans-serif;
  color: #343a40;
}

h1 {
  font-size: 24px !important;
}

h3 {
  font-size: 18px !important;
}

.icon {
  padding: 16px;
  font-size: 36px;
}

.number {
  margin: 10px;
  padding: 12px;
  padding-top: 4px;
  border: 1px solid #343a40;
  align-self: flex-start;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: aliceblue;
}
